* {
    margin: 0%;
}

.fst {
    background-image: url("https://media.blueapron.com/assets/registration/homepage/desktop-splash-v2.webp?height=800&quality=90");

    width: 100%;
    height: 600px;
    margin-top: 0%;

}

.fst div {

    width: 30%;

    padding-top: 10%;
    margin-left: 5%;
    font-size: 25px;

    color: rgb(1, 1, 159);
}

.fst button {
    background-color: rgb(1, 1, 159);
    color: white;
    border: none;
    width: 200px;
    height: 50px;
    border-radius: 25px;
    font-size: 15px;
    margin-top: 20px;
}

.fst button a {
    text-decoration: none;
    color: white;
}

.snd {

    width: 40%;
    margin: auto;
    text-align: center;
    margin-top: 50px;
}

.snd h1 {
    font-size: 45px;
    color: rgb(1, 1, 159);
}

.snd p {
    font-size: 20px;
}

.thrd {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    margin-top: 30px;
    width: 80%;
    margin: auto;
    margin-top: 50px;
}

.thrd div {

    width: 100%;
    text-align: center;
}

.thrd div img {
    width: 100%;
}

.frth {
    width: 40%;
    margin: auto;
    text-align: center;
    font-size: 20px;
    margin-top: 50px;
}

.frth button {
    background-color: rgb(1, 1, 159);
    color: white;
    border: none;
    width: 200px;
    height: 50px;
    border-radius: 25px;
    font-size: 15px;
    margin-top: 20px;
}

.frth button a {
    text-decoration: none;
    color: white;
}

.fth {

    width: 40%;
    margin: auto;
    text-align: center;
    margin-top: 40px;
}

.fth h1 {
    font-size: 30px;
    color: rgb(1, 1, 159);
}

.fth h2 {
    font-size: 40px;
    color: rgb(0, 157, 255);
}

.sxth {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;

    text-align: center;
    width: 90%;
    margin: auto;
    margin-top: 50px;
}

.sxth div h3 {
    color: rgb(1, 1, 159);
}

.sxth div p {
    color: gray;
}

.sxth div {

    width: 100%;
}

.sxth div img {
    width: 100%;
}

.snth {
    width: 40%;
    margin: auto;
    text-align: center;
    margin-top: 30px;
}

.snth button {
    background-color: white;
    color: rgb(1, 1, 159);
    border: 2px solid rgb(1, 1, 159);
    width: 200px;
    height: 50px;
    border-radius: 25px;
    font-size: 15px;
}

.snth button a {
    text-decoration: none;
    color: rgb(1, 1, 159);
}

.eth {
    background-image: url("https://media.blueapron.com/assets/registration/homepage/cooking-pot.webp?height=600&quality=90");
    background-size: 100% 100%;
    width: 100%;
    height: 600px;
    margin-top: 50px;
}

.eth .note {
    border: 40%;
    position: relative;

    top: 20%;
    width: 43%;
    height: 200px;
    background-color: white;
    margin: auto;
    text-align: center;
    padding: 30px;
}

.eth .note h3 {
    color: rgb(0, 157, 255);
    font-size: 20px;
    font-weight: bold;
}

.eth .note p {
    color: rgb(1, 1, 159);
    font-size: 20px;
    padding: 30px;
    height: 38%;
    font-weight: bold;
}

.nine {
    width: 85%;
    margin: auto;
    margin-top: 50px;
    background-image: url("https://media.blueapron.com/assets/registration/homepage/gnocchi-ingredients.webp?height=400&quality=90");
    height: 400px;

}

.nine .noten {
    background-color: white;
    width: 40%;
    height: 50%;
    position: relative;
    top: 25%;
    left: 30%;
    text-align: center;
    padding-top: 3%;
}

.nine .noten h1 {
    color: rgb(1, 1, 159);
}

.nine .noten p {
    font-size: 20px;
    color: gray;
}

.nine .noten button {
    background-color: rgb(1, 1, 159);
    color: white;
    border: none;
    width: 200px;
    height: 50px;
    border-radius: 25px;
    font-size: 15px;
    margin-top: 20px;
}

.nine .noten button a {
    text-decoration: none;
    color: white;
}

footer {
    background-color: rgba(16, 52, 108, 255);
    margin-top: 50px;
    padding-bottom: 30px;
}

.footer {

    width: 100%;
    height: 400px;
    display: flex;
    justify-content: space-around;

    padding-top: 30px;

}


.footer .tbl {

    display: flex;
    justify-content: space-between;

}

.footer .tbl ul {
    list-style-type: none;
    color: rgba(161, 188, 230, 255);

}

.footer .tbl ul li {
    margin-bottom: 20px;
}

.footer .ap {
    text-align: right;
}

.footer .ap ul {
    list-style-type: none;
    color: rgba(161, 188, 230, 255)
}

.footer .ap ul li {
    margin-bottom: 20px;
}

.footer .ap li img {
    width: 100px;
    height: 40px;
    border: none;

}

footer p {
    text-align: center;
    font-size: 15px;
    color: white;
}